
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  
}

body {
  margin: 0;
  
  color: var(--text-color);
}

button {
  color: var(--button-text);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button {
  opacity: 0.9;
}

.pi {
  font-family: "primeicons" !important;
}

.p-button {
  background-color: transparent;
  color: black;
}

.screen-title {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  text-align: left;
  margin-top: 0;
}