
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --bg-color: #808080;
  --text-color: #ffffff;
  --button-bg: #d3d3d3;
  --button-text: #ffffff;

  background-color: var(--bg-color);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button {
  opacity: 0.9;
}

.pi {
  font-family: "primeicons" !important;
}